@mixin borders {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 2px 3px rgb(88, 88, 88);
    box-sizing: border-box;
}
*{
.boardCarry{
    @include borders();
    border-radius: 3px;
    width: 300px;
    height: 100vh;
    background: rgb(204, 255, 235);
    position: fixed;
    margin-left: -300px;
}
.boardBars{
    font-size: 23px;
    margin-top: 21px;
    margin-left: 220px;
    cursor: pointer;
}
.boardItemsCarry{
    margin-left: 120px;
    margin-top: 50px;
}
.boardItem{
    margin-top: 40px;
    text-align: start;
    font-weight: 600;
}
}