* .boardCarry {
  border: 1px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px #585858;
          box-shadow: 2px 3px #585858;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  width: 300px;
  height: 100vh;
  background: #ccffeb;
  position: fixed;
  margin-left: -300px;
}

* .boardBars {
  font-size: 23px;
  margin-top: 21px;
  margin-left: 220px;
  cursor: pointer;
}

* .boardItemsCarry {
  margin-left: 120px;
  margin-top: 50px;
}

* .boardItem {
  margin-top: 40px;
  text-align: start;
  font-weight: 600;
}
/*# sourceMappingURL=dashboard.css.map */