.header__nav-route {
  position: absolute;
  right: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__item-route {
  font-size: 14px;
  margin-left: 10px;
}
/*# sourceMappingURL=headerVersion2.css.map */