//Header main
@mixin borders {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 2px 3px rgb(88, 88, 88);
  box-sizing: border-box;
}
$mainColor: #cbf6db;
$top: 130px;
* {
  .header__bar {
    @include borders();
    border-top: 0 solid black;
    border-radius: 2px 2px 5px 5px;
    width: 100vw;
    height: 80px;
    background-color: $mainColor;
    font-size: 20px;
    font-weight: 700;
    position: absolute;
    z-index: 0;
  }
  .header__nav {
    margin-left: 20px;
    margin-top: 10px;
  }

  .nav-dashboard_search {
  }
  .header-dashboard {
    margin-left: 10px;
    position: relative;
    z-index: 2;
  }
  .header-search {
    margin-left: 30px;
    display: flex;
    width: 50px;
    transition: cubic-bezier(0.62, 0.25, 0.4, 1.21) 0.7s;
  }
  .header-search:hover {
    width: 200px;
  }
  .header__input {
    @include borders();
    border: 3px solid rgb(0, 0, 0);
    cursor: text;
    box-shadow: none;
    position: relative;
    z-index: 1;
    opacity: 0;
    background-color: #fff;
    width: 0px;
    height: 40px;
    margin-top: -10px;
    transition: cubic-bezier(0.62, 0.25, 0.4, 1.21) 0.7s;
  }
  .header__input::placeholder {
    position: relative;
    top: 24px;
  }
  .header-search:hover .header__input {
    width: 200px;
    opacity: 1;
  }
  .header-search:hover .header__input::placeholder {
    top: 0;
    transition: cubic-bezier(0.86, 0.19, 0.58, 1.95) 0.6s 0.35s;
  }
  .header__search-btn {
    margin-left: -65px;
    position: relative;
    z-index: 2;
    transition: cubic-bezier(0.62, 0.25, 0.4, 1.21) 1s;
  }
  .header-search:hover .header__search-btn {
    transform: rotate(90deg);
  }
  .header__logo {
    width: 130px;
    height: 75px;
    position: absolute;
    margin-top: -20px;
    margin-left: 30px;
    z-index: 1;
  }

  .header__nav-route {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90vw;
    margin-left: 0px;
  }
  .header__item-route {
    margin-left: 50px;
  }

  .header__nav-user {
    position: absolute;
    right: 0;
    margin-right: 30px;
  }
  .header-user {
    margin-right: 30px;
    font-size: 23px;
  }
  .header-cart {
    margin-right: 30px;
    font-size: 23px;
  }
  .header-preferences {
    font-size: 23px;
  }
}
//UserForm
* {
  .signInCarry {
    display: none;
    justify-content: center;
    opacity: 0;
    position: relative;
    z-index: 5;
  }
  .signIn {
    @include borders();
    border-radius: 2px;
    position: fixed;
    width: 400px;
    height: 260px;
    margin-top: 200px;
    background-color: rgb(221, 247, 217);
  }
  .signInForm {
    padding: 0px 30px;
    position: relative;
    z-index: 1;
  }
  .errorSignIn {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-left: -30px;
    color: red;
  }
  .signUpCarry {
    display: none;
    justify-content: center;
    opacity: 0;
    position: relative;
    z-index: 5;
  }
  .signUp {
    @include borders();
    border-radius: 2px;
    position: fixed;
    width: 400px;
    height: 550px;
    margin-top: 100px;
    background-color: rgb(221, 247, 217);
  }
  .signUpForm {
    padding: 0px 30px;
    position: relative;
    z-index: 1;
  }
  .errorSignUp {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-left: -30px;
    color: red;
  }
  .inputSign {
    position: absolute;
    right: 20px;
  }
  .form-item {
    margin-top: 20px;
    font-weight: 600;
  }
  .disableAll {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.356);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    opacity: 0;
  }
}
//User
* {
  .pointerTab {
    height: 0;
    width: 0;
    border: 12px solid;
    border-color: transparent transparent black transparent;
    position: absolute;
  }
  .pointerTabBorder {
    height: 0;
    width: 0;
    border: 10px solid;
    border-color: transparent transparent $mainColor transparent;
    margin-top: -7px;
    margin-left: -10px;
  }
  .userTabCarry {
    position: absolute;
    right: 0;
    pointer-events: none;
    display: none;
  }
  .userTab {
    @include borders();
    border-radius: 2px;
    width: 320px;
    height: 600px;
    background-color: $mainColor;
    margin-top: 10px;
    position: relative;
    right: 40px;
    display: flex;
    justify-content: flex-start;
  }
  .userProfile {
    @include borders();
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: #fff;
  }
  .userName {
    position: absolute;
    width: 180px;
    height: 80px;
    margin-left: 125px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .userBirthday {
    position: absolute;
    width: 260px;
    height: 60px;
    margin-left: 30px;
    margin-top: $top;
    display: flex;
    align-items: center;
    text-align: start;
    font-size: 20px;
    font-weight: 400;
  }
  .userCountry {
    @extend .userBirthday;
    margin-top: $top + 70px;
  }
  .userAddress {
    @extend .userBirthday;
    margin-top: $top + 140px;
  }
  .userEmail {
    @extend .userBirthday;
    margin-top: $top + 210px;
  }
  .userItemsNum {
    @extend .userBirthday;
    margin-top: $top + 280px;
  }
  .logOut {
    height: 50px;
    width: 100px;
    position: absolute;
    bottom: 50px;
    margin-left: 105px;
    font-weight: 600;
    pointer-events: all;
    @include borders();
    box-shadow: none;
  }
}
//Cart
* {
  .cartTabCarry {
    position: absolute;
    right: 0;
    pointer-events: none;
    display: none;
  }
  .cartTab {
    @include borders();
    border-radius: 2px;
    pointer-events: all;
    width: 320px;
    height: 600px;
    background-color: $mainColor;
    margin-top: 10px;
    position: relative;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .cartTotalItems {
    @include borders();
    box-shadow: none;
    border-bottom: 2px solid black;
    border-radius: 3px;
    background-color: rgb(102, 133, 233);
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 20px;
  }
  .cartItemsHandle {
    margin-top: 10px;
    width: 100%;
    height: 510px;
    overflow-y: scroll;
  }
  .cartItem {
    @include borders();
    box-shadow: none;
    border-radius: 3px;
    height: 80px;
    margin: 0 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
  .reImg {
    width: 78px;
    height: 78px;
    object-fit: cover;
    border-right: 1px solid black;
  }
  .cartItemInfo {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 5px;
    height: 90px;
    width: 140px;
    display: flex;
    flex-direction: column;
    text-align: start;
    overflow-x: hidden;
    font-size: 18px;
  }
  .itemInfo {
    height: 40px;
    white-space: nowrap;
    display: block;
  }
  .cartDelete {
    box-shadow: none;
    border-radius: 3px;
    border-left: 1px solid black;
    width: 40px;
    height: 78px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cartDelete:hover {
    background-color: rgb(241, 58, 58);
    transition: all 0.2s;
  }
  .setTextRange {
    display: table;
  }
}

.tabShow {
  display: block;
}
