*{
  font-family: 'Mali', cursive;
}
html{
  overflow-x: hidden;
}
.opachover:hover{
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
    color: black;
}
.nav-item{
  cursor: pointer;
}
.App {
  text-align: center;
  position: relative;
  z-index: 1000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
