@keyframes searchshow{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 1;
    }
    100%{
        opacity: 1;
        width: 200px;
    }
}
@keyframes searchbar {
    0%{
        width: 50px;
    }
    20%{
        width: 50px;
    }
    100%{
        width: 200px;
    }
}
@keyframes searchhide{
    0%{
        opacity: 1;
        width: 200px;
    }
    100%{
        opacity: 0;
        width: 0;
    }
}
@keyframes searchbarhide {
    0%{
        width: 200px;
    }
    100%{
        width: 50px;
    }
}
@keyframes navbars {
    100%{
        margin-left: -100px;
    }
}
@keyframes navbarsresize {
    100%{
        margin-left: 150px;
        opacity: 0;
    }
}
@keyframes routeresizebybar {
    100%{
        margin-left: 100px;
    }
}
@keyframes navbarsreve {
    0%{
        margin-left: -100px;
    }
    100%{
        margin-left: -300px;
    }
}
@keyframes navbarsresizereve {
    0%{
        margin-left: 150px;
        opacity: 0;
    }
    100%{
        margin-left: 0px;
        opacity: 1;
    }
}
@keyframes routeresizebybarreve {
    0%{
        margin-left: 100px;
    }
    100%{
        margin-left: 0px;
    }
}
@keyframes headerbarfixed {
    0%{
        margin-top: -90px;
    }
    100%{
        margin-top: 0;
    }
}
@keyframes show {
    100%{
        opacity: 1;
    }
}
@keyframes hidden {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}