@mixin borders {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 2px 3px rgb(88, 88, 88);
    box-sizing: border-box;
}
.bodyPart{  
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -10;
}
.AllItemCarry{
    width: 100vw;
    position: absolute;
    top: 100px;
    right: 0;
    overflow-y:scroll ;
    transition:0.7s cubic-bezier(.62,.25,.4,1.21)  ;
}
.item{
    @include borders();
    border-radius: 3px;
    box-shadow: 1px 1px rgb(88, 88, 88);
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
}
.itemCarry{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card-body{
}
.card-body-2{
    @include borders();
    border-top: 2px solid black;
    border-bottom: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    border-radius: 2px;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-weight: 600;
    background-color: rgb(173, 235, 123);
}
.card-link{
    text-decoration: none;
    color: black;
}
.crop{
    width: 248px;
    height: 248px; 
    object-fit: cover;
    border-bottom: 2px solid black;
}
.about{
    font-size: 40px;
}