.bodyPart {
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -10;
}

.AllItemCarry {
  width: 100vw;
  position: absolute;
  top: 100px;
  right: 0;
  overflow-y: scroll;
  -webkit-transition: 0.7s cubic-bezier(0.62, 0.25, 0.4, 1.21);
  transition: 0.7s cubic-bezier(0.62, 0.25, 0.4, 1.21);
}

.item {
  border: 1px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px #585858;
          box-shadow: 2px 3px #585858;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px #585858;
          box-shadow: 1px 1px #585858;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 250px;
}

.itemCarry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-body-2 {
  border: 1px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px #585858;
          box-shadow: 2px 3px #585858;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 2px solid black;
  border-bottom: 0px solid black;
  border-left: 0px solid black;
  border-right: 0px solid black;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 40px;
  font-weight: 600;
  background-color: #adeb7b;
}

.card-link {
  text-decoration: none;
  color: black;
}

.crop {
  width: 248px;
  height: 248px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 2px solid black;
}

.about {
  font-size: 40px;
}
/*# sourceMappingURL=body.css.map */